<div class="main">
  <div class="topnav">
    <div class="left-aligned">
      <img src="assets/images/cropped-crab.png">
      <h4>Página Inicial</h4>
    </div>
    <div class="profile">
      <img class="bell" src="assets/images/bell.png">
      <h4>{{fornecedor.nome_exibicao}}</h4>
      <img class="circle" src="assets/images/User.png">
    </div>
  </div>
  <div class="below-topnav">
    <div class="leftnav">
      <button [routerLink]="'/dashboard'">Dashboard</button>
      <button [routerLink]="'/despachos'">Despachos</button>
      <button [routerLink]="'/account'">Minha conta</button>
      <button>Financeiro</button>
      <button>Produtos</button>
      <div class="sair-container" (click)="logout()">
        <button id="sair">Sair</button>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <div class="main-title">
          <h1>Bem vindo, {{fornecedor.nome_exibicao}}!</h1>
        </div>
        <div class="content-item">
          <h2>Descrição do fornecedor</h2>
          <div class="description-container">
            <p>{{fornecedor.descricao}}</p>
            <img src="https://s3-sa-east-1.amazonaws.com/projetos-artes/fullsize%2F2011%2F08%2F17%2F10%2FWDL-Logo-5614_11252_040944897_1556549958.jpg">
          </div>
        </div>
        <div class="content-item">
          <h2>Faturamento Agosto</h2>
          <div class="faturamento-container">
            <div class="value-container">
              <h4>À vista</h4>
              <h3 id="green">R$ 23.212,35</h3>
            </div>
            <div class="value-container">
              <h4>Parcelado</h4>
              <h3 id="red">R$ 31.530,90</h3>
            </div>
          </div>
        </div>
        <br>
        <div class="content-item">
          <h2>Campanhas de Agosto</h2>
          <div class="campanhas-container">
            <div class="campanha">Desconto à vista</div>
            <div class="campanha"> Frete grátis</div>
            <div class="campanha">Cupom de desconto</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
