<div class="topnav">
  <img src="assets/images/logo-no-title.png">
  <h4>Página Inicial</h4>
  <img class="circle" src="assets/images/User.png">
  <h4 class="right">{{fornecedor.nome_razao}}</h4>
  <button class="bell" [routerLink]="'/notifications'">
	<img src="assets/images/bell.png">
  </button>
</div>
<div class="rectangle">
  <h2 class="title">Bem-vindo, {{fornecedor.nome_razao}}!</h2>
  <h3 class="descriptionTitle">Descrição do Fornecedor</h3>
  <a class="description">{{fornecedor.descricao}}</a>
  <div class="leftnav">
    <button class="menu" [routerLink]="'../dashboard'">Dashboard</button>
    <button class="menu" [routerLink]="'../despachos'">Despachos</button>
    <a>Minha Conta</a>
    <a>Financeiro</a>
    <a>Produtos</a>
  </div>
  <a class="revenue"> Faturamento no mês</a>
  <div class="bigblock"></div>
  <div class="upfront">À vista<br>R$ 23.212,35</div>
    <a class="futurepayment">Parcelado<br>R$ 31.530,99</a>
  <a class="campains"> Campanhas do mês</a>
    <div class="block1">Desconto à vista</div>
    <div class="block2">Frete Grátis</div>
    <div class="block3">Cupons de Desconto</div>
</div>
