<div class="topnav">
  <img src="assets/images/logo-no-title.png">
  <h4>Página Inicial</h4>
  <img class="circle" src="assets/images/User.png">
  <h4 class="right">Heinz</h4>
  <img class="bell" src="assets/images/bell.png">
</div>
<div class="rectangle">
  <h2 class="title">Bem-vindo, Heinz!</h2>
  <h3 class="descriptionTitle">Descrição do Fornecedor</h3>
  <a class="description">Ninguém faz melhor que Heinz
     - veja a nossa linha e saiba tudo sobre seus produtos Heinz favoritos.
     Atendemos todas as regiões do país. E o melhor: com agilidade e segurança.</a>
  <div class="leftnav">
    <button class="menu" [routerLink]="'../dashboard'">Dashboard</button>
    <button class="menu" [routerLink]="'../despachos'">Despachos</button>
    <a>Minha Conta</a>
    <a>Financeiro</a>
    <a>Produtos</a>
  </div>
  <a class="revenue"> Faturamento no mês</a>
  <div class="bigblock"></div>
  <div class="upfront">À vista<br>R$ 23.212,35</div>
    <a class="futurepayment">Parcelado<br>R$ 31.530,99</a>
  <a class="campains"> Campanhas do mês</a>
    <div class="block1">Desconto à vista</div>
    <div class="block2">Frete Grátis</div>
    <div class="block3">Cupons de Desconto</div>
</div>
