<div class="topnav">
	<img src="assets/images/logo-no-title.png">
	<h4>Notificações</h4>
	<img class="circle" src="assets/images/User.png">
	<h4 class="right">{{fornecedor.nome_razao}}</h4>
  </div>
  <div class="rectangle">
		<div class="flex-container">
			<button class="close" [routerLink]="'/dashboard'">
				Voltar
			</button>
			<div class="notification">Compra realizada - Código: {{fornecedor.despachar[0]}}</div>
			<div class="notification">Compra realizada - Código: {{fornecedor.despachar[1]}}</div>
			<div class="notification">Compra realizada - Código: {{fornecedor.despachar[2]}}</div>
	    </div>
  </div>
