.topnav{
    position: absolute;
    width: 100vw;
    height: 16vh;
    overflow: hidden;
    background: #1a687e;
}


.topnav h4{
    font-family: 'Inter';
    font-style: normal;
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2vw;
}

.topnav img{
    float: left;
    text-align: center;
    text-decoration: none;
    max-width: 70%;
    height: auto
}

.topnav .right{
    font-family: 'Inter';
    font-style: normal;
    float: right;
    padding-right: 1vw;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2vw;
}

.topnav .circle{
    margin-top: 3.5vh;
    margin-right: 2.5vw;
    float: right;
    border-radius: 70%;
    width: 8vh;
    height: auto;
    background: white;
}

.topnav .bell{
    margin-top: 5.5vh;
    margin-right: 1vw;
    float: right;
    display: block;
}

.rectangle{
    width: 100vw;
    height: 116vh;
    background: #FBF3F2;
}

.rectangle .flex-container{
	background-color: #1c768fa9;
	position: relative;
	top:15%;
	left: 25%;
	height: 60%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
}

.notification{
	width: 80%;
	height: 10%;
	display: flex;
	background-color: #032539;
	color: white;
	/* border: 2px solid red; */
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	margin: 3%;
	background-image: url('../../assets/images/notification.png');
	background-size: 6%;
	background-repeat: no-repeat;
	background-position-y: center;
	background-position: 3%;
}

