*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

.main{
    padding: 0;
    margin: 0;
    height: 98vh;
    width: 98vw;
}

.topnav{
    display: flex;
    height: 16vh;
    background-color: #1a687e;
}

.left-aligned{
    display: flex;
    flex: 50%;
    justify-content: flex-start;
    align-items: center;
}

.left-aligned img{
    height: 65%;
    margin-left: 4%;
}

.left-aligned h4{
    text-align: center;
    margin-left: 10%;
    font-size: 3.3vh;
    color: white;
}

.profile{
    flex: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile .circle{
    margin-left: 2%;
    margin-right: 2%;
    height: 50%;
    background-color: white;
    padding: 1px;
    border-radius: 50%;
    border: 10px;
}

.profile h4{
    font-size: 3.3vh;
    color: white;
}

.profile .bell{
    margin-right: 5%;
}

.below-topnav{
    min-height: 83vh;
    display: flex;
}

.leftnav{
    background: #032539;
    display: flex;
    flex-direction: column;
    width: 22vw;
}

.leftnav button{
    background-color: #032539;
    height: 5vw;
    border: 1px solid white;
    font-size: 2vh;
    color: white;
}

.leftnav button:hover{
    transition: 0.8s;
    background-color: #001A29;
    border: 1px solid white;
    font-size: 2vh;
    color: white;
}

.leftnav .sair-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.leftnav .sair-container button{
    text-align: left;
    padding-left: 10%;
    width: 100%;
    border: 0px dotted white;
}

.container{
    background-color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: inherit;
}

.content{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    flex:60%;
    height: 97%;
}

.main-title{
    height: 15%;
}

.content-item{
    margin-bottom: 4%;
}
.content-item h2{
    margin-bottom: 2%;
}

.buttons{
    display: flex;
    margin-top: 5%;
    margin-right: 20%;
    height: 5%;
    justify-content: space-between;
    margin-bottom: 5%;
}

.buttons button{
    text-align: center;
    width: 28%;
    font: inherit;
    font-weight: 600;
    border-radius: 20px;
    border: 0.5px solid black;
}

#update{
    background-color: #FA991C;
}
#delete{
    background-color: #F71735;
}