<div class="title-container">
  <img src="assets/images/mangueshop-logo.png" alt="Logo" class="logo" />
</div>

<form [formGroup]="forgotForm" name="forgot-password">
  
  <div class="title-container">
    Esqueceu a senha?
  </div>

  <div class="container">
    
    <label for="aviso">Um código para redefinir a sua senha será enviado para o email fornecido</label>

    <label for="email">Insira seu e-mail</label>

    <input
      formControlName="email"
      type="email"
      name="email"
      placeholder="E-mail"
      required
    />

    <button
        class="button-medium"
        type="submit"
        (click)="send()"
        [disabled]="!forgotForm.valid"
      >
      Enviar
    </button>

  </div>
</form>