<div class="title-container">
  <img src="assets/images/mangueshop-logo.png" alt="Logo" class="logo" />
</div>

<form *ngIf="!emailSended" [formGroup]="forgotForm" name="forgot-password">
  
  <div class="title-container">
    Esqueceu a senha?
  </div>

  <div class="container">
    
    <p>Enviaremos um email para prosseguir com a sua redefinição de senha.</p>

    <label for="email">Insira seu e-mail</label>

    <input
      formControlName="email"
      type="email"
      name="email"
      placeholder="E-mail"
      required
    />

    <button
        class="button-medium"
        type="submit"
        (click)="sendEmail()"
        [disabled]="!forgotForm.valid || waitingResponde"
      >
      Enviar
    </button>

    <button
      class="button-medium"
      [routerLink]="'../login'"
    >
      Voltar
    </button>

    <div class="msg-erro" name="errorMsg">
      <span *ngIf="wrongEmail" name="wrong-email">Algo deu errado :(</span>
    </div>

  </div>

</form>

<form *ngIf="emailSended" name="msg-success">
  <div class="title-container">
    <p>Enviamos um link para o seu email com os passos para redefinir a sua senha.</p>
  </div>
  
  <div class="container">
    <div class="item-button">
      <button
        class="button-medium"
        [routerLink]="'../login'"
        name="continue"
      >
        Continuar
      </button>
    </div>
  </div>
</form>