.container {
    padding: 20px;
    
    height: 610px;
    width: 480px;
    
    border-radius: 20px;
    background: rgba(250, 250, 250, 0.8);
    
    display: grid;
    
    font-family: 'Inter';
    color: #000000;

    text-align: center;
}

.logo{
    margin-bottom: 40px;
}


.title-container {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;

    text-align: center;

    color: #000000;
}

.text-container {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 44px;
    text-align: left;

    color: #000000;
}

.pf-button{
    margin-bottom: -50px;
    justify-self: center;
    height: 60px;
    background: #FA991C;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Inter';
    width: 400px;
    background-image: url('../../assets/images/User.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 20px;
}

.pj-button{
    justify-self: center;
    height: 60px;
    background: #FA991C;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Inter';
    width: 400px;
    background-image: url('../../assets/images/enterprise.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 20px;
}

.voltar-button{
    margin-top: 20px;
    justify-self: center;
    height: 60px;
    background: #FA991C;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Inter';
    width: 400px;
}