<div class="title-container">
    <img class="logo" src="assets/images/mangueshop-logo.png"/>
</div>

<div class="container">
    <div class="title-container">
        Cadastro
    </div>
    <div class="text-container">
        Bem vindo à Mangue shop!
        <br><br>
        Escolha seu tipo de conta entre pessoa física e pessoa jurídica
    </div>
    <button [routerLink]="'PF'">
        Pessoa Física
    </button>
    <button [routerLink]="'PJ'">
        Pessoa Jurídica
    </button>
</div>