<div class="topnav">
  <img src="assets/images/logo-no-title.png">
  <h4>Despacho de Pedidos</h4>
  <img class="circle" src="assets/images/User.png">
  <h4 class="right">{{fornecedor.nome_exibicao}}</h4>
  <button class="bell" [routerLink]="'/notifications'"><img class="bell" src="assets/images/bell.png"></button>
</div>
<div class="rectangle">
  <h2 class="title">Indique o Despacho dos seus pedidos!</h2>
  <a class="description">Aqui você deve informar o Nº do pedido e indicar o despacho desse para a transportadora.
    <br> Dessa forma, seus clientes ficarão sabendo que o pedido já está a caminho!</a>
  <div class="leftnav">
    <button class="menu" [routerLink]="'/dashboard'">Dashboard</button>
    <button class="menu" [routerLink]="'/despachos'">Despachos</button>
    <button class="menu" [routerLink]="'/account'">Minha conta</button>
    <a>Financeiro</a>
    <a>Produtos</a>
    <button class="sair-container" (click)="logout()" id="sair">Sair</button>
  </div>
  <a class="ordertitle"> Nº do Pedido</a>
  <form [formGroup]="despachoForm" name="despacho">
    <div class="submiter">
      <input  formControlName="codigo" type="text" id="ordernumber" name="ordernumber">
    </div>
    <div class="buttondispatch">
      <input (click)="despachar()" type="submit" value="Despachado!">
    </div>
    <div class="msg-success">
      <span *ngIf="despachavel">Despachado com Sucesso!</span>
    </div>
    <div class="msg-error">
      <span *ngIf="codinexistente">Codígo do Pedido Inválido</span>
    </div>
  </form>
  <button class="button" [routerLink]="'/listdespacho'">Listar Pedidos Despacháveis</button>
  <a class="standby"> Aguardando</a>
  <a class="dispatch"> Despachar</a>
  <a class="transit"> Em Trânsito</a>
    <div class="box_standby">0</div>
    <div class="box_dispatch">{{fornecedor.num_despachar}}</div>
    <div class="box_transit">2</div>
</div>
