<div class="topnav">
  <img src="assets/images/logo-no-title.png">
  <h4>Despacho de Pedidos</h4>
  <img class="circle" src="assets/images/User.png">
  <h4 class="right">Heinz</h4>
  <img class="bell" src="assets/images/bell.png">
</div>
<div class="rectangle">
  <h2 class="title">Indique o Despacho dos seus pedidos!</h2>
  <a class="description">Aqui você deve informar o Nº do pedido e indicar o despacho desse para a transportadora.
    <br> Dessa forma, seus clientes ficarão sabendo que o pedido já está a caminho!</a>
  <div class="leftnav">
    <button class="menu" [routerLink]="'../dashboard'">Dashboard</button>
    <a>Despachos</a>
    <a>Minha Conta</a>
    <a>Financeiro</a>
    <a>Produtos</a>
  </div>
  <a class="ordertitle"> Nº do Pedido</a>
  <form>
    <div class="submiter">
      <input type="text" id="ordernumber" name="ordernumber">
    </div>
    <div class="buttondispatch">
      <input type="submit" value="Despachado!">
    </div>
  </form>
  <button class="button">Listar Pedidos Enviados</button> 
  <a class="standby"> Aguardando</a>
  <a class="dispatch"> Despachar</a>
  <a class="transit"> Em Trânsito</a>
    <div class="block1">0</div>
    <div class="block2">1</div>
    <div class="block3">2</div>
</div>
