<div class="title-container">
  <img src="assets/images/mangueshop-logo.png" alt="Logo" class="logo" />
</div>

<form *ngIf="!mudouSenha" [formGroup]="updateForm" name="update-password">
  
  <div class="title-container">
    Redefina a sua senha
  </div>

  <div class="container">
    
    <p>Insira uma senha com pelo menos 8 caracteres.</p>

    <label for="psw">Digite sua nova senha</label>
    <input
      formControlName="password1"
      type="password"
      name="psw1"
      placeholder="Nova senha"
      required
    />

    <div class="msg-erro">
      <span *ngIf="wrongFormat" name="wrongFormat">Sua senha precisa ter mais que 8 caracteres.</span>
    </div>

    <label for="psw">Repita a sua nova senha</label>
    <input
      formControlName="password2"
      type="password"
      name="psw2"
      placeholder="Repita nova senha"
      required
    />

    <div class="msg-erro">
      <span *ngIf="notEquals" name="notEquals">Senhas não coincidem.</span>
    </div>

    <button
        class="button-medium"
        type="submit"
        (click)="update()"
        [disabled]="!updateForm.valid"
    >
      Redefinir
    </button>

  </div>

</form>

<form *ngIf="mudouSenha">
  <div class="title-container">
    <p>Sua senha foi alterada com sucesso!</p>
  </div>
  
  <div class="container">
    
    <div class="item-button">
      
      <button
        class="button-medium"
        [routerLink]="'../login'"
        name="continue"
      >
        Continuar
      </button>

    </div>
  
  </div>

</form>